* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.main-container{
  /* border: 5px solid red; */
}

.title-container{
  text-align: center;
  padding: 0.5rem;
}

.users-container{
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.new-user-container{
  width: 75%;
}

.new-user-btn {
  padding: 0.5rem;
}

.users-info-container{
  /* border: 1px solid black; */
  width: 75%;
  height: 50%;
  /* padding: 0.5rem; */
}

.labels-container{
  padding: 0.5rem;
  width: 100%;
  border: 1px solid black;
}

.labels-container p {
  margin: 0;
}

.user-info{
  display: flex;
  justify-content: space-between;
  border: 1px solid red;
  padding: 0.5rem;
}

.action-btn-container{
  display:flex;
  gap: 0.5rem;
}

.action-btn-container button{
  border: none;
}

.delete-btn {
  background: none;
}