* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.update-form-title{
    text-align: center;
}

.update-form-container{
    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 0.5rem;
    width: 25%;
}

.update-form{
    display: flex;

    padding: 0.5rem;
    border: 3px solid black;
    box-shadow: 0 0 15px currentColor;
    width: 100%;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: center; */
    gap: 1rem;

    width: 100%;
}

form div{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.update-btn{
    background-color: rgb(33,37,41);
    border: 2px solid white;
    color:white;
    border-radius: 10px;
}

.update-btn:hover{
    background-color: white;
    color: rgb(33,37,41);
    border: 2px solid black;
}


.close-btn{
    background-color: rgb(33,37,41);
    border: 2px solid white;
    color:white;
    border-radius: 10px;
}

.close-btn:hover{
    background-color: white;
    color: rgb(33,37,41);
    border: 2px solid black;
}
