* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
}

.update-modal-container{
    border: 5px solid gray;
    background-color: rgb(33,37,41);
    color: white;
    height: 50%;
    width: 50%;    
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 1rem;

    display:flex;
    flex-direction: column;
    gap: 0.5rem;
}

.submit-update-btn{
    background-color: rgb(33,37,41);
    border: 2px solid white;
    color:white;
    border-radius: 10px;
}

.submit-update-btn:hover{
    background-color: white;
    color: rgb(33,37,41);
    border: 2px solid black;
}

.close-update-btn{
    background-color: rgb(33,37,41);
    border: 2px solid white;
    color:white;
    border-radius: 10px;
}

.close-update-btn:hover{
    background-color: white;
    color: rgb(33,37,41);
    border: 2px solid black;
}