* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-container{

}

.title-container{
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 1rem;
}

.users-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  min-height: 100vh;
  width: 100%;
}

/* .new-user-container{
  display:flex;
  justify-content: space-between;
  align-items: center;

  padding: 1rem;
  border: 1px solid red;;
} */

.new-user-btn {
  border-radius: 10px;
  background-color: rgb(33,37,41);
  color: white;
  padding: 1rem;
  font-weight: 1000;
  border: 2px solid rgb(13,110,253);
}

.new-user-btn:hover{
  background-color: white;
  color:rgb(33,37,41);
}

.users-info-container{
  width: 100%;
  height: 50%;
  padding: 0rem;
}

.action-status-container{
  text-align: center;
  padding: 1rem;
}

.labels-container{
  padding: 0.5rem;
  width: 100%;
}

.labels-container p {
  margin: 0;
}

.user-info{
  display: flex;
  justify-content: space-between;
  
  padding: 0.5rem;
}

li:hover {
  cursor: pointer;
}

.loading-container{
  display:flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 75%;
  position: absolute;
  border-bottom-left-radius: 550px;
  border-bottom-right-radius: 550px;
}

.loading-icon{
  width: 100%;
  height: 100px;
  
  animation: spin 1s infinite linear;
  transition: 2s;
}

.footer-bg{
  z-index: -1;
}

table,th,td{
  padding: 0.5rem;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
}

tr:nth-child(even){
  background-color: rgb(33,37,41);
  color: white;
}

@keyframes spin {
  from {
      transform: rotate(0deg);
  } to {
      transform: rotate(360deg);
  }
}