* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
}

.new-users-form-container{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    height: 100vh;
    width: 100vw;
}

.form-container{
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 1rem;
    
    padding: 1rem;
    width: 100%;
    min-height: 50%;
    border-bottom-left-radius: 550px;
    border-bottom-right-radius: 550px;
}

.form-container div:nth-child(2){
    display: flex;
    flex-direction: column;
    width: 25%;
}

.form-container div:nth-child(3){
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:0.5rem;
}

.form-container div:nth-child(4){
    display: flex;
    width: 25%;
    gap:0.5rem;
}

h3{
    text-align: center;
}

table,th,td{
    padding: 0.5rem;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
}

tr:nth-child(even){
    background-color: rgb(33,37,41);
    color: white;
}

button{
    border-radius: 10px;
}

@media (max-width: 400px){
    .form-container{
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    .form-container div:nth-child(2){
        width: 100%;
    }

    .form-container div:nth-child(4){
        width: 100%;
    }
}
