* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.update-user-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%); */
    width: 100%;
}

.update-form-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    /* width: 100%; */
    height: 75vh;
    width: 50vw;
    padding: 1rem;
    border: 5px solid gray;
    border-bottom-left-radius: 550px;
    border-bottom-right-radius: 550px;
}

.update-form{
    /* display: flex;
    flex-direction: column;
    gap: 0.5rem;

    width: 50%; */
}